*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input{
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 20px;
    transition: .5s;
}
body{
    transition: .5s;
}